:root {
  --color-primary: #000;
  /* --color-primary: #fff; */
  --color-secondary: #fff;
  --color-tertiary: #d0d0d5;
  /* --color-tertiary: #000; */
  --color-primary-light: #5d5d5d;
  --color-primary-light-2: #bbb;
  --color-decoration: #06755f;
  --color-decoration-light: #19a88c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--color-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

.btn {
  color: var(--color-primary);
  padding: 1rem 2rem;
  transition: all 0.2s;
  background-color: var(--color-tertiary);
  border: none;
  margin: 2rem;
  border: 2px solid transparent;
}
.btn:hover {
  border: 2px solid #06755f;
}

.white {
  background-color: #fff;
  color: #000;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
